{% extends "layout.html" %}

{% block title %}
    Add Money
{% endblock %}

{% block header %}
    {% if cash %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            Successfully added {{ amount | usd }} to balance. New balance is {{ cash }}.
        </div>
    </header>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Money</button>
    </form>
{% endblock %}
